# Sales Product Analysis

## Description
This project is dedicated to organizing and analyzing information about product sales analysis to identify trends and generate insights. This project includes an analysis of the top-performing and underperforming products or services, areas, or states with the top sales. Data cleaning are performed using Python, Jupyter Notebooks, and Pandas library.

## Data Overview
Sales Product Data from [Kaggle dataset](https://www.kaggle.com/datasets/knightbearr/sales-product-data?resource=download&select=Sales_September_2019.csv) is used in this analysis. It has 6 fields, such as OrderID, Product, Quantity, Price, Order Data, and Purchase Address, with around 180,000 observations that span 12 months in the year of 2019.

## Research Questions
1. What was the trend for the number of orders and the number of sales? What was the best month for sales?
2. What area (state or city) with the highest number of sales? Which product had the most number of sales?
3. What product with the highest overall number of sales? Were there any specific time it sold during the year?

## Setup and Data Preparation

### Import packages and dataset

In [8]:
# Import packages
import pandas as pd
import numpy as np
import os
import glob

In [15]:
# Read all 12 months dataset

# Read sample data
df = pd.read_csv("./Raw Data/01_Sales_January_2019.csv")
# df.head()

# Append all 12 months data
all_files = glob.glob("./Raw Data/*.csv", recursive=True)

all_data = []

for file in all_files:
    df = pd.read_csv(file, index_col=None, header=0)
    all_data.append(df)

df_raw = pd.concat(all_data, axis=0)

# Save all data to new csv files
df_raw.to_csv("all_months_data.csv", index=False)

In [16]:
# Import newly appended dataset and provide dataset overview
data_name = "./all_months_data.csv"

df_raw = pd.read_csv(data_name)
df_raw.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,194095,Wired Headphones,1,11.99,05/16/19 17:14,"669 2nd St, New York City, NY 10001"
1,194096,AA Batteries (4-pack),1,3.84,05/19/19 14:43,"844 Walnut St, Dallas, TX 75001"
2,194097,27in FHD Monitor,1,149.99,05/24/19 11:36,"164 Madison St, New York City, NY 10001"
3,194098,Wired Headphones,1,11.99,05/02/19 20:40,"622 Meadow St, Dallas, TX 75001"
4,194099,AAA Batteries (4-pack),2,2.99,05/11/19 22:55,"17 Church St, Seattle, WA 98101"

In [18]:
# Print the shape of main dataset
print("Dataset shape:", df_raw.shape)
print('Number of columns :', df_raw.shape[1])
print('Number of records :', df_raw.shape[0], '\n')

print(df_raw.dtypes, '\n')

# Print the column values in the dataframe
print("Column names:")
print(list(df_raw.columns.values))

Dataset shape: (186850, 6)
Number of columns : 6
Number of records : 186850

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

Column names:
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

### Data Cleaning
This step includes checking missing and duplicate values and changing datatype.

In [19]:
# Check missing values
missing_val = pd.DataFrame(df_raw.isnull().sum())
missing_val.columns = ["missing_count"]
missing_val

                  missing_count
Order ID                    545
Product                     545
Quantity Ordered            545
Price Each                  545
Order Date                  545
Purchase Address            545

In [20]:
# Drop missing values and recheck
df_raw.dropna(inplace=True)

df_raw.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [23]:
# Check duplicate values
duplicateRows = df_raw[df_raw.duplicated()]
print("Number of duplicate rows: " + str(len(duplicateRows)))

Number of duplicate rows: 618

In [28]:
# Remove duplicate rows and header values
df_raw.drop_duplicates(inplace=True)

df = df_raw[df_raw["Order ID"] != "Order ID"]

Change current datatypes:
- Order ID: integer
- Quantity Ordered: integer
- Price Each: float
- Order Date: date

In [32]:
# Change datatypes
df["Order ID"] = df["Order ID"].astype(int)
df["Quantity Ordered"] = df["Quantity Ordered"].astype(int)
df["Price Each"] = df["Price Each"].astype(float)
df["Order Date"] = df["Order Date"].strftime("%m/%d/%y %H:%M")

/var/folders/gw/8gmr5ln56wjfgdr2ctyq4_600000gn/T/ipykernel_12395/1351736179.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Order ID"] = df["Order ID"].astype(int)
/var/folders/gw/8gmr5ln56wjfgdr2ctyq4_600000gn/T/ipykernel_12395/1351736179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Quantity Ordered"] = df["Quantity Ordered"].astype(int)
/var/folders/gw/8gmr5ln56wjfgdr2ctyq4_600000gn/T/ipykernel_12395/1351736179.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Price Each"] = df["Price Each"].astype(float)

AttributeError: 'Series' object has no attribute 'strftime'